#lineawesome{
overflow:auto;
text-align:center;
height:400px;
width:100%;
margin:-2px;
}

#lineawesome>a{
display:block;
float:left;
margin:2px;
padding:.5em;
width:80px;
overflow:hidden;
border-radius:5px;
background:rgba(0,0,0,0.075);
white-space:normal;
text-align:center;
height:80px;
}

#lineawesome>a:hover{
background:rgba(255,255,255,0.25);
} 
#lineawesome>a.active{
background:#fff;
}

#lineawesome>a>span.las,
#lineawesome>a>span.lab{
font-size:32px;
color:#000;
margin-bottom:0.5em;
}

#lineawesome>a>span.las{
font-family:'Line Awesome Free'!important;
}
#lineawesome>a>span.lab{
font-family:'Line Awesome Brands'!important;
}

#lineawesome>a>div{
line-height:1;
height:2.5em;
overflow:hidden;
text-align:center;
white-space:normal;
}

.lineawesomeSearch{
background:transparent!important;
border:none!important;
}
